<div class="container">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body border-light shadow">
        <h1 class="text-center mb-3"><i class="fas fa-key"></i> Şifremi Unuttum</h1>
        <p>Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız.
        Şifre değiştirme linkini e-posta adresinize göndereceğiz.
        </p>
        <%- include ('partials/messages') %>
          <div class="form-group ">
            <label for="email" class="font-weight-bold">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Emailinizi Giriniz"
            />
          </div>
          <div class="form-group">
            <label for="password"  class="font-weight-bold">Güvenlik Kontrolü</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Gizli Yanıtınızı Giriniz"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Gönder</button>
      </div>
    </div>
  </div>
</div>