<div class="container">
<div class="row mt-5">
    <div class="col-md-6 m-auto ">
      <div class="card card-body border-light shadow">
      <div class=" text-center">
       
        <h1><i class="fas fa-heartbeat fa-3x text-danger"></i></h1>
      
        <p>Bir hesap oluşturun veya giriş yapınız</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Kayıt</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Giriş</a>
      </div>
      <div class="mt-2">
        <a href="/users/forget"> <p>Şifremi unuttum</p> </a>
      </div>
      </div>
    </div>
  </div>
</div>
 