<!--Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">E-Randevu</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/patients/appointment">
            Randevu Oluştur
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/past">Randevu Geçmişi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/request">Randevu Tapleplerim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/request">Sonuçlarım</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i> Profil
          </a>
          <div
            class="dropdown-menu dropdown-menu-right dropdown-info"
            aria-labelledby="navbarDropdownMenuLink-4"
          >
            <a class="dropdown-item" href="#">Hesap Bilgilerim</a>
            <a class="dropdown-item" href="#">Çıkış</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/.Navbar -->

<div class="container">
  <div class="card card-body border-light shadow mt-4">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-3">
          <i class="fas fa-sign-in-alt"></i> E-Randevu
        </h1>

        <form action="/patients/appointment" method="POST">
          <!--ŞEHİR-->
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
            >Şehirler</label
          >
          <select
            name="city"
            class="custom-select my-1 mr-sm-2"
            id="inlineFormCustomSelectPref"
          >
            <option selected>Şehirler...</option>
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
            <option value="3">İzmir</option>
          </select>

          <!--İLÇE-->
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">İlçe</label>
          <select
            name="district"
            class="custom-select my-1 mr-sm-2"
            id="inlineFormCustomSelectPref"
          >
            <option selected>İlçe...</option>
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
            <option value="3">İzmir</option>
          </select>

          <!--KLİNİK-->
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
            >Klinik</label
          >
          <select
            name="district"
            class="custom-select my-1 mr-sm-2"
            id="inlineFormCustomSelectPref"
          >
            <option selected>Klinik...</option>
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
            <option value="3">İzmir</option>
          </select>

          <!--MUAYENE YERİ-->
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
            >Muayene Yeri</label
          >
          <select
            name="district"
            class="custom-select my-1 mr-sm-2"
            id="inlineFormCustomSelectPref"
          >
            <option selected>Muayene Yeri...</option>
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
            <option value="3">İzmir</option>
          </select>

          <!--HEKİM-->
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
            >Hekim</label
          >
          <select
            name="district"
            class="custom-select my-1 mr-sm-2"
            id="inlineFormCustomSelectPref"
          >
            <option selected>Hekim...</option>
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
            <option value="3">İzmir</option>
          </select>
          <!--TARİH-->
        <% console.log("dd") %>
          <button type="submit" class="btn btn-primary btn-block my-1">
            Randevu Ara
          </button>
        </form>
      </div>
      <div class="col">
        <h1 class="text-center mb-3">
          <i class="fas fa-sign-in-alt"></i> E-Randevu
        </h1>

        <div class="card mt-5">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">No</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <input
                      type="radio"
                      aria-label="Radio button for following text input"
                    />
                  </th>
                  <td scope="row">1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th>
                    <input
                      type="radio"
                      aria-label="Radio button for following text input"
                    />
                  </th>
                  <td scope="row">1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th>
                    <input
                      type="radio"
                      aria-label="Radio button for following text input"
                    />
                  </th>
                  <td scope="row">1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer text-muted">
            <div class="row">
              <div class="col pt-2">
                <p>Toplam Sayfa: <span class="badge-primary p-1">25</span></p>
              </div>
              <div class="col">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center fa-xs">
    <p>
      Soru ve sorunlarınız için yardimmasasi@mhrs.gov.tr adresimizi kullanarak
      bize ulaşabilirsiniz.
    </p>
  </div>
</div>
